*{
    box-sizing: border-box;
}
:root{
    --yellow-color: #b69100;
    --gray-color: rgba(255, 255, 255, 0.7);
    --dark-gray-color: #666666;
    --white-color: #fff;
    --black-color: #000000;
    --letter-space-size: 0.25em;
    
}

body{
    line-height: 1.8;
    font-weight: 400;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* start component */
.text span{
    color: var(--yellow-color);
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 13px;
    
    /* font-weight: bold; */
}
.text h2{
    /* font-family: 'Kalnia', serif;    */
    font-size: 40px;
}

h3, h2 {
    font-family: "Playfair Display", Arial, serif;
    line-height: 1.5;
    font-weight: 400;
    color: #000000;
    
}
a{
    text-decoration: none;
}
/* end component */

/* header */
/* start navbar */
.navbar{
    /* background-color: black; */
    position: absolute;
    top: 40px;
    right: 0;
    left: 0;
    z-index: 3;

}
/* links */
.navbar .navbar-nav .nav-link{
    color: var(--gray-color);
    transition: all 0.3s ease;
    font-weight: 500;
}
.navbar .navbar-nav .nav-link:hover{
    color: var(--white-color);
}
li.nav-item {
    margin: 0 10px;
}

/* onscroll event ( will added by Js)*/
.scroll-navbar{
    background-color: var(--black-color);
    position: fixed;
    top: 0;
}

/* js for button navbar links*/
@media (max-width: 991px) {
    .show-links {
        background-color: var(--black-color);
        position: relative;
        top: 0;
    }
}


/* end navbar */

/* start landing */

.landing::before,
.rooms-page::before
{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* height: calc( 100vh + 72px ); */
    background-color: rgba(0, 0, 0, 0.1);
}
.landing{
    height: 100vh;
}
.rooms-page::before{
    background-color: rgba(0, 0, 0, 0.2);
}
/* @media(min-width: 768px){
    rooms-page{
        top: 22%;
    }
} */
.landing .text_box{
    /* margin-top: 100px; */
    min-height: calc(100vh + 72px);
    /* height: 600px; */
    /* height: 1000px; */
    /* left:50%;  */
    transform: translateY(50%);
    /* text-align: left; */
    
    font-family: 'Lobster Two', sans-serif;
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Kalnia', serif;   
    
}
.landing h1{
    font-size: 100px;
}
.landing p{
    letter-spacing: var(--letter-space-size);
    
}
/* end landing */

/* ---------------------- */
/* start check date */
.check-date .col-lg-12.pr-1{
    position: relative;
    height: 200px; /* 200 195 150*/ 
    width: 100%;
    /* background-color: var(--yellow-color); */
    background-color: rgba(182, 145, 0, 0.8);
    margin-top: -260px; /* -200 -260*/
    margin-left: -100px;  /* -100px */
}
@media(min-width: 992px){
    .check-date .col-lg-12.pr-1{
        height: 142px; /*185px;*/ /* 162px */
        margin-left: -150px;
    }
}
@media(max-width: 768px){
    .check-date .col-lg-12.pr-1{
        height: 120px; 
        
    }
}

.check-date .col-md{
    background-color: var(--white-color);
    /* width: 20%; */
    /* border: 1px solid var(--black-color); */    
}
.check-date form{
    margin-top: 22px; /* 50 */
    padding-left: 216px;
}
.check-date label{
    font-weight: 600;
    font-size: 12px;
    color: var(--black-color);
    letter-spacing: 2px;
}
.check-date .form-control{
    border: none;
    box-shadow: none;
    outline: none;
}
.check-date .bg-dark-custom{
    background-color: var(--black-color);
    margin: -20px 0; /* -25px */
}
.check-date span{
    transition: all 0.3s ease;
}
.check-date span:not(p):hover,
.check-date span p{
    color: var(--yellow-color);
    /* color: #911825; */
}
.check-date span:not(p):hover p,
.check-date span p:hover{
    color: var(--white-color);
}
@media(max-width: 992px){
    .vision .vision-icon{
        width: 20%;
    }
    
    .vision .vision-icon .vsn svg{
        font-size: 35px;
    }
    .vision .vision-icon .vsn h3{
        font-size: 15px;
        line-height: normal;
    }
    
}
@media(min-width: 576px){
    vision .vision-icon .vsn {
        padding: 14px;
    }
}
/* end check date */
/* ----------------------- */

.rooms-imgs h3{
    font-size: 16px; 
    transform: translateY(1040%);
    /* font-weight: 400; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

}
.rooms-imgs a {
    position: relative;
    display: block; 
    text-decoration: none;
}
.rooms-imgs a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 290px;
    background-color: rgba(0, 0, 0, 0); /* Adjust the transparency as needed */
    /* z-index: 1; */
    transition: all 0.3s ease; /* Add a smooth transition effect */

}
.rooms-imgs a:hover::before{
    background-color: rgba(0, 0, 0, 0.5);
}
/* --------------------------------------- */

.vision .vision-icon{
    width: 20%;
    position: relative;
}
.vision .vision-icon .vsn{
    padding: 30px  ;
}

.vision .vision-icon svg{
    color: var(--yellow-color);
    /* color: #911825; */
    font-size: 70px;
    margin-bottom: 0.5rem;
}
.vision .vision-icon h3{
    font-size: 20px;
}
.vision .vision-icon:hover .vsn,
.vision .vision-icon:hover svg,
.vision .vision-icon:hover h3{
    background-color: var(--yellow-color) !important;
    /* background-color: #911825 !important; */
    color: var(--white-color) !important;
}
/* ----------- */
/* start master rooms */
.master-rooms .row .mstr-room .mstr-room-text {
    /* left: 50%; */
    transform: translateY(50%);
}
.master-rooms .row .mstr-room .mstr-room-text h2{
    font-size: 40px;
}
.master-rooms .row .mstr-room .mstr-room-text a{
    text-decoration: none;
    color: var(--yellow-color);
}

/* start price-stars */
.master-rooms .row .family-price-stars .price-text .stars svg,
.master-rooms .row .price-stars .price-text .stars svg{
    color: var(--yellow-color);
}
.master-rooms .row .family-price-stars .price-text .per:not(span),
.master-rooms .row .price-stars .price-text .per:not(span){
    font-size: 14px;
    color: var(--dark-gray-color);
}
.master-rooms .row .family-price-stars .price-text .per span,
.master-rooms .row .price-stars .price-text .per span{
    color: var(--yellow-color);
    font-size: 26px;
    /* font-family: "Poppins", Arial, sans-serif; */
}

.master-rooms .row .family-price-stars .price-text h3 a,
.master-rooms .row .price-stars .price-text h3 a{
    color: var(--black-color);
    font-size: 30px;
}
.master-rooms .row .family-price-stars .price-text p,
.master-rooms .row .price-stars .price-text p{
    color: rgba(255, 255, 255, 0.9);
}
.master-rooms .row .family-price-stars .price-text p .btn,
.master-rooms .row .price-stars .price-text p .btn{
    color: var(--black-color);
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.1);
}
.master-rooms .row .family-price-stars .price-text p .btn svg,
.master-rooms .row .price-stars .price-text p .btn svg{
    font-size: 15px;
}



/*  start arrow كودالسهم */
.master-rooms .row .price-stars, 
.family-group{
    position: relative;
    transition: all  0.3s ease; /* for smooth transition */
}

.master-rooms .row .price-stars:not(.family-price-stars)::after{
    position: absolute;
    content: '';
    top: 50%;
    left: -20px; /*-14px */
    /* -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%); */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 18px 26px 18px 0 ; /* 12px 15px 12px 0 */
    border-color: transparent var(--white-color) transparent transparent; 
    transition: all  0.3s ease; /* for smooth transition */
}

/* right family arrow (at 2nd row) */
.family-price-stars::after
{
        position: absolute;
        content: '';
        top: 50%;
        right: -20px; 
        /* -26px */
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 18px 0 18px 26px; 
        /* 18px 0 18px 26px */
        border-color: transparent transparent transparent var(--white-color);
        transition: all 0.3s ease;
}
.family-group:hover .family-price-stars::after {
    border-color: transparent transparent transparent var(--yellow-color);
}
/* end arrow*/

/* hover */
.master-rooms .row > .link-img:hover + .price-stars,
.master-rooms .row > .price-stars:hover,
.family-group:hover .family-price-stars {
    background-color: var(--yellow-color);
}

/* Common styles for family-price-stars and price-stars hover */
.master-rooms .row > .link-img:hover + .price-stars .stars svg,
.master-rooms .row > .link-img:hover + .price-stars .per span,
.master-rooms .row > .price-stars:hover .stars svg,
.master-rooms .row > .price-stars:hover .per span,
.family-group:hover .family-price-stars .price-text .stars svg, 
.family-group:hover .family-price-stars .price-text .per span  {
    color: var(--white-color);
}

/* Styles for btn hover */
.master-rooms .row > .link-img:hover + .price-stars .price-text p .btn,
.master-rooms .row > .price-stars:hover .price-text p .btn,
.family-group:hover .family-price-stars .price-text .pt-1 .btn {
    background-color: var(--white-color);
    border: none;
}

/* Styles for per on family-price-stars and price-stars hover */
.family-group:hover .family-price-stars .price-text .per:not(span),
.master-rooms .row > .link-img:hover + .price-stars .per:not(span),
.master-rooms .row > .price-stars:hover .per:not(span) {
    color: var(--black-color);
}

/* Hover for the arrow in price-stars and family-price-stars */
.master-rooms .row > .link-img:hover + .price-stars::after,
.master-rooms .row > .price-stars:hover::after
{
    border-color: transparent var(--yellow-color) transparent transparent;
}


@media(min-width: 991px){
    .price-text:not(:nth-child(2)) {
        height: 230px;
    }

    .family-price-stars .price-text {
        height: 358px;
    }
    
}
/* @media(min-width: 768px){
    .family-price-stars .price-text{
        padding: 34px;
    }
} */

/* ======================= */
/* family section */
.family-group {
    display: flex;
    flex-wrap: nowrap;
}

.family-link-img,
.family-price-stars {
    width: 50%; /* Each div takes half of the row */
    box-sizing: border-box;
}

.family-link-img {
    background-size: cover;
    height: 360px;
    display: block;
}

.family-price-stars {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent; /* Initial background color */
    transition: background-color 0.3s ease;
}

/* @media(min-width: 768px){
    .family-price-stars{
        height: 360px;
        padding-bottom: 136px;
    }
} */
/* family hover */
/* end master rooms */

/* start testimony */
/* ================= start buttons ===================== */
/* Add space between carousel indicators and controls */
/* Custom styles for carousel indicators */
#carouselExampleCaptions .carousel-indicators {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -42px; /* 30px */
}

/* Make carousel indicators buttons circular */
#carouselExampleCaptions .carousel-indicators button {
    width: 14px;
    height: 14px;
    border: none;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 5px;
    transition: all 0.3s ease; /* Smooth transition for background color */
}

/* Style for the circle inside the button */
#carouselExampleCaptions .carousel-indicators button::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: transparent; /* Set the initial background color to transparent */
    border: 1px solid #c6c6c6;
    transition: all 0.3s ease; /* Smooth transition for background color */
}

/* Change background color for the active indicator's circle */
#carouselExampleCaptions .carousel-indicators .active::after {
    background-color: #b3b3b3;
}

/* ================== end buttons ==================== */
.user-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
}
/* =============== start dots at the end of the img ===============*/
.user-img .left-quote{
    color: var(--yellow-color);
    background-color: var(--white-color);
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* =============== end dots at the end of the img =============== */
.testimony .container .user .text svg{
    color: var(--yellow-color);
    margin: 0 4px;
}

.testimony .container .user .text p:nth-child(2){
    color: var(--dark-gray-color);
    font-family: "Poppins", Arial, sans-serif;
    font-size: 15px;
    line-height: 1.8;
}

@media (min-width: 768px) {
    /* Medium devices (tablets, 768px and up) */
    /* .testimony .user, */
    .user-over-all {
        /* max-width: 450px; */
        width: 100%;
        max-width: 450px;
        margin: auto;
    }
}

@media (min-width: 992px) {
    /* Large devices (desktops, 992px and up) */
    /* .testimony .user, */
    .user-over-all {
        max-width: 730px; /* 450px */
        width: 100%;
        margin: auto;
    }
}

.name{
    /* font-weight: 400px; */
    font-size: 18px;
    color: var(--black-color);
}

.guest-position{
    color: #cccccc;
    font-size: 16px;
    font-weight: 500;
}
/* end testimony */

/* start vedio recomend  */
.recomded-hotel-vedio .container .row .col-md-8{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px)
{
    .recomded-hotel-vedio .container .row .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}
@media (min-width: 768px){
    .recomded-hotel-vedio .container .row .col-md-8{
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}
@media (min-width: 768px){
    .recomded-hotel-vedio .container .row {
    max-width: 720px;
}
}
@media (min-width: 576px){ 
.recomded-hotel-vedio .container .row {
    max-width: 540px;
}
/* @media (max-width: 768px){
    .recomded-hotel-vedio{
        margin-bottom: -2000px;
    }
} */
}
/* ================= */  
/* vedio */
/* end vedio recomend  */

/* start resturant */
/* 
@media (min-width: 768px)
{
    .resturant .container {
        max-width: 720px;
}
}

@media (min-width: 576px)
{
    .resturant .container {
        max-width: 540px;
    }
} */
/* end restuarant */

/* start resturant */
/* @media(max-width: 576px){
    .resturant{
        margin: -160px 0 ;
    }
} */

/* Styles for small screens and above */
@media (min-width: 576px) {
    .recomended-hotel-vedio {
        margin-bottom: -225px;
    }
    .resturant{
        margin-top: -372px;
        padding-top: 5rem;
    }
}

/* Styles for medium screens and above (md) */
@media (min-width: 768px) {
    .col-md{
        margin-left: -13px;
    }
    .col-md.bg-dark-custom span{
        font-size: 14px;
        padding: 0;
    }
    /* .check-date label{
        font-size: 10px;
    } */
    /* select.form-control, input.form-control{
        font-size: 12px;
    } */
    /* input.form-control {
        padding: 0 6px;
    } */
    .recomended-hotel-vedio {
        margin-bottom: -1px;
    }
    .resturant{
        padding-top: 5rem;
        margin-top: -127px;
    }
}

@media (min-width: 992px){
    .recomded-hotel-vedio{
        margin-bottom: 5rem;
    }
    .resturant{
        margin-top: 2px;

    }
}
/* ======================================= media to displsy each card under each other*/

/* ==================================== */
.price-entery:not(:last-child){
    width: 100%;
    margin-bottom: 30px;
    background: var(--white-color);
    padding: 30px 20px;
    box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21);
}

.price-entery .desc .text h3{
    width: calc(100% - 80px);
    font-size: 24px;
    background: var(--white-color);
    line-height: 1.5;
    
}
.price-entery .desc .text{
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
}

.resturant .container .row .col-md-6{
    margin-bottom: 20px;
    box-shadow: 0px 10px 10px 0px #eee;
    /* 0px: No horizontal offset (shadow directly beneath the element).
        10px: Vertical offset of 10 pixels (shadow below the element).
        10px: Blur radius of 10 pixels.
        0px: Spread radius of 0 pixels.
        #eee: Color of the shadow (light gray). */  
}
/* .col-md-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
} */
/* .resturant .container .row .desc .text .price{
    color: var(--yellow-color);
    margin-right: 3rem;
    width: 80px;
    text-align: right;
    font-size: 20px;
    background: #fff;
    
}
.resturant .container .row:nth-child(2) .desc{
    width: calc(100% - 100px);
}
.resturant .container .row:nth-child(2) .desc p{
    margin-bottom: 0;
    margin-top: 0;
    font-family: "Poppins", Arial, sans-serif;
    background: #fff;
    font-size: 15px;
    line-height: 1.8;
    font-weight: 400;
    color: #666666;
}
span.text1{
    font-size: 20px;
    width: 200px; 
    color: #000000;
    font-weight: 400;
    font-family: "Playfair Display", Arial, serif;
    padding-right: 20px;
}
.price-entery div:last-child{
    padding-left: 20px;
} */

/* ============================= */
/* columns */
.card1{
    background-color: var(--white-color);
    box-shadow: 4px 15px 24px -21px rgba(0, 0, 0, 0.21);
    /* box-shadow: 0px 15px 24px -21px rgba(0, 0, 0, 0.21); */
    width: 550px; /* 480px */
    height: 145px; /* 140px or 180px */
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
    /*  */
    /* align-items: center; */
}
.card1 .entry-card {
    flex: 1;
    margin-right: 20px;
    /* flex-direction: column; */
}
/* 1st column: price */
.column1 .card1 .price{
    color: var(--yellow-color);
    font-size: 20px;
    font-weight: 500;
    /*  */
    position: absolute;
    top: 15px; /* 12px */
    margin-left: 12px;
    
}
/* 2nd column: price (add extra css style to the 1st column to be suitable for 2nd column) */
.column1 .card1 .price.right{
    margin-right: 12px;
    position: absolute;
    right: 0;
    
}

.entry-card{
    margin-right: 90px;
    /* margin-top: 30px; */
}
/* 1st column: h5 */
.entry-card h5{
    font-weight: 400;
    font-family: "Playfair Display", Arial, serif;
    margin-top: 20px; /* 18px */
    font-size: 24px;
}
/* 2nd column: h5 */
.entry-card h5.right{
    margin-left: 20px;
}
/* 1st column: p */
.entry-card .para{
    color: var(--dark-gray-color);
    font-size: 15px;
    font-weight: 500px;
    font-family: "Poppins", Arial, sans-serif;
    /* margin-left: 2rem; */
    /*  */
    margin-right: 130px; /* 100px */
    text-align: right;
}
/* 2nd column: p */
.entry-card .para.right{
    text-align: left;
    margin-left: 145px;  /* 110px */
    margin-right: 1px;  
}
.image{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0%;
    margin-top: 20px;
    margin-right: 20px; /* 10px */
    margin-left: 20px; /* 10px */
}
.image.left{
    left: 0;
}
.image.right{
    right: 0;
}

.image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* position: absolute; */
}
.fullcol{
    display: flex;
    gap: 30px;
    justify-content: center;
    /* margin-left: 20px; */
}
/* 
*{
    outline: 1px solid red;
} */
/* ============================== */
/* end restuarant */

/* start blog */
.blog .blog-entry .text p{
    color: var(--yellow-color);
    font-weight: 500;
    font-size: 15px;
}
.blog .blog-entry .text .meta{
    font-family: "Poppins", Arial, sans-serif;
    background: var(--white-color);
    font-size: 15px;
    line-height: 1.8;
    font-weight: 500;
}
.blog .blog-entry .text .meta > div{
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
.blog .blog-entry .text .meta > div a:hover{
    color: #b3b3b3 !important;
}
.blog .blog-entry .text .meta a{
    text-decoration: none;
    color: #969191;
}

.blog .row .blog-entry .text h3 a:hover {
    color: var(--yellow-color) !important;
}

/* end blog */

/* ========================== */
/* edit at recomended-hotel-vedio code */
/* fixed height to remove the extra spaces  */
.recomended-hotel-vedio{
    height: 600px;
}
/* @media (max-width: 768px) {
    .recomended-hotel-vedio {
        height: 435px;
    }
} */

.price-entery{
    height: 200px !important;
}

.text1{
    width: 500px !important;
}
/* ========================== */
/* start instagram */
.instagram .row .col-sm-12{
    width: 20%;
    position: relative;
}
.instagram .row .col-sm-12:hover{
    cursor: zoom-in;
}
.instagram .row .col-sm-12::before {
    /* 
    we don't write fixed height nor width , 
    properties and instead set padding using top, left, right, and bottom. 
    This will create an equal display on all sides of the 
    */
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
}

.instagram .row .col-sm-12:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}

.instagram .row div.insta-img{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 280px;
    display: block;
}
.instagram .row div.insta-img .insta-icon svg {
    display: none;
    font-size: 40px;
    color: var(--white-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.instagram .row .col-sm-12:hover div.insta-img .insta-icon svg {
    display: inline;
    z-index: 2;
}

/* end instagram */

/* start footer */

.footer .text{
    margin-top: 20px;
    font-family: "Poppins", Arial, sans-serif;
}

.footer h2{
    color: var(--white-color);
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 700;
    font-family: "Poppins", Arial, sans-serif;
    
}
.footer p,
.footer a{
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    /* margin-bottom: 1rem; */
    transition: all 0.3s ease;
}
.footer li:hover a,
.footer svg,
.footer .phone{
    color: var(--white-color);
}

.footer .text:nth-child(1) svg{
    font-size: 26px;
    /* to make the icons inside middle the circle */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}
.footer .social-media{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.05);
    /* float: left; */
    position: relative;
    margin: 0 10px 0 0;
}
.footer .copyright,
.footer .copyright svg{
    color: var(--gray-color);
}

/* end footer */

/* ================================================================= */
/* contact page*/
.contact-page .col-md-3{
    width: 25%;
    color: var(--dark-gray-color);
    line-height: 1.8;
    font-weight: 400;
    font-family: "Poppins", Arial, sans-serif;   
}
.contact-page .entry-info{
    height: 145px;
}
.contact-page form .form-control{
    box-shadow: none;
    outline: none;
    font-size: 15px;
}
.contact-page form .form-control:not(textarea){
    height: 52px;
}
.contact-page form .form-control:focus{
    /* border: 1px solid var(--black-color); */
    border-color: var(--black-color);
}

.contact-page form .btn-primary{
    background-color: var(--yellow-color);
    border: 1px solid var(--yellow-color);
    box-shadow: none;
    transition: all 0.3s ease;
    /* text-align: center; */
}
.contact-page form .btn-primary:hover{
    background-color: var(--white-color);
    color: var(--yellow-color);
    box-shadow: none;
    
}